.jumbotron{
    padding: 1rem;
    background-color: #202938;
}

#project{
    background-color: #202938;
    
}

footer {
    background-color: #0d6dfd;
    padding: 20px;
    text-align: center;
}

body{
    background-color: #202938;
    background-size: cover;


}